body {
    font-family: "Helvetica","Tahoma, Arial", "sans-serif";
    font-size: 0.75em;
    color: #333;
    line-height: 1.5em;
    background: #f8f8f8;
    /*background: red;*/
}
.container{
	width: 960px;
	border:1px solid #f0f0f0;
	/*margin-top:30px;*/
	margin:30px auto;
	padding: 30px 0 0;
	background: #fff;
	height: 500px
}
.usercenter{
	clear:both;
	overflow: hidden;
	padding: 0 0 20px 30px;
	display: block;

}
.usercenter .clock{
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    background: #48525e;
    margin-right: 14px;
}
.usercenter .tit{
	font-size: 24px;
	line-height: 36px

}
.find{
	width: 870px;
	margin: 0px auto;
	clear: both;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    color: #fff;
    /*margin-right: 30px;*/
    padding: 0 20px;
    font-size: 16px;
    background: #ff9a66;
} 
.find-inner{
	width:200px;
	height:35px;
	line-height:35px;
	text-align:center;
	margin:-35px auto;
	color:#fff;
	z-index:9999
}
 .register{
 	position: relative;
 	width: 100%;
 	height: 200px;
  
 	margin-top:50px;
 }
 .text{
 	width: 900px;
 	height:35px;
    margin-bottom: 40px;  
 	position:relative; 
 }
    .text .text-1{
  	display: inline-block;
 	width: 363px;
 	height:35px;
    margin-bottom: 30px;
 	text-align: right;
 	font-size: 14px;
 }  
   .text input{
   	margin-left: 10px;
 	width: 300px;
 	height:30px;
 	outline: none;
 }
  .next{
 	width: 178px;
 	 
 	margin-left:373px;
 	background: #dc3c00;
 	display: inline-block;
 	height: 35px;
 	color: #fff;
 	line-height: 35px;
 	text-align: center;
 	border:0;
 	outline: none;
 	margin-top: 40px
 }